<a href="https://colab.research.google.com/github/HydrOpOtesJA99/A.I-learning/blob/main/1.%20Pandas_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 데이터 준비하기

1.   데이터를 불러온다.
2.   종속변수와 독립변수로 분리한다.

- 실습을 통해 배울 도구들

  >파일 읽어오기: read_csv('/경로/파일명.csv')
  
  >모양 확인하기: 데이터.shape
  
  >칼럼 선택하기: 데이터[['칼럼명1', '칼럼명2', '칼럼명3']]
  
  >칼럼 이름 출력하기: 데이터.columns
  
  >맨 위 5개 관측치 출력하기: 데이터.head()
  
- 샘플 데이터

  >GitHub github link: https://github.com/blackdew/tensorflow1/tree/master/csv

  >레모네이드: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

  >보스톤: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv
  
  >아이리스: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv

# Pandas 불러오기

In [ ]:
import pandas as pd

# 파일들로부터 데이터 읽어오기

In [ ]:
# 파일들로부터 데이터 읽어오기

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
레모네이드 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스톤 = pd.read_csv(파일경로)

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv'
아이리스 = pd.read_csv(파일경로)

# 변수 속 데이터 모양 확인하기

In [ ]:
# 변수 속 데이터 유무 데이터 모양으로 확인 -> *** ('행', '열'의 개수가 나옴)

print(레모네이드.shape)
print(보스톤.shape)
print(아이리스.shape)

(6, 2)
(506, 14)
(150, 5)

# Column(열) 출력하기

In [ ]:
# Column(열) 이름 출력 -> ('열'들의 이름이 나옴)

print(레모네이드.columns)
print(보스톤.columns)
print(아이리스.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

# 원하는 Column 선택 및 나누기

In [ ]:
# Column 선택하기
독립변수 = 레모네이드[['온도']]
종속변수 = 레모네이드[['판매량']]
print(독립변수.shape, 종속변수.shape) # 하나의 '열'만 생성되었는지 확인

독립변수 = 보스톤[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속변수 = 보스톤[['medv']]
print(독립변수.shape, 종속변수.shape) # 하나의 '열'만 생성되었는지 확인

독립변수 = 아이리스[['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭']]
종속변수 = 아이리스[['품종']]
print(독립변수.shape, 종속변수.shape) # 하나의 '열'만 생성되었는지 확인

(6, 1) (6, 1)
(506, 13) (506, 1)
(150, 4) (150, 1)

# 상위 5개의 행 data 출력하기

In [ ]:
# 상위 5개 행의 data 출력

레모네이드.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# 상위 5개 행의 data 출력

보스톤.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [ ]:
# 상위 5개 행의 data 출력

아이리스.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭      품종
0   5.1  3.5    1.4   0.2  setosa
1   4.9  3.0    1.4   0.2  setosa
2   4.7  3.2    1.3   0.2  setosa
3   4.6  3.1    1.5   0.2  setosa
4   5.0  3.6    1.4   0.2  setosa

In [ ]:
from google.colab import drive
drive.mount('/content/drive')