<a href="https://colab.research.google.com/github/HydrOpOtesJA99/A.I-learning/blob/main/4_%EB%A0%88%EB%AA%A8%EB%84%A4%EC%9D%B4%EB%93%9C_%ED%8C%90%EB%A7%A4_%EC%98%88%EC%B8%A1(%EC%8B%A4%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4_레모네이드_판매_예측(실습)


*   github csv url: https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv

In [5]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

In [6]:
# 데이터 준비

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
데이터 = pd.read_csv(파일경로)
데이터.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [7]:
# 독립변수, 종속변수

독립 = 데이터[['온도']]
종속 = 데이터[['판매량']]
print(독립.shape, 종속.shape)

(6, 1) (6, 1)

In [11]:
# 모델을 만듭니다

X = tf.keras.layers.Input(shape=[1])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [14]:
# 모델을 학습합니다

model.fit(독립,종속, epochs=1000, verbose=0) #verbose=0 : 학습현황이 뜨지 않게함

# 학습이 끝나면 <keras.callbacks.History at 0x7fada9cd61d0> 이런 word가 뜸

In [18]:
# loss 값이 작아졌는지 확인하기위해 verbose를 지우고 조금 학습을 시켜봄

model.fit(독립,종속, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 10ms/step - loss: 0.0055
Epoch 2/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0055
Epoch 3/10
1/1 [==============================] - 0s 7ms/step - loss: 0.0055
Epoch 4/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0055
Epoch 5/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0055
Epoch 6/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0055
Epoch 7/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0055
Epoch 8/10
1/1 [==============================] - 0s 6ms/step - loss: 0.0055
Epoch 9/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0054
Epoch 10/10
1/1 [==============================] - 0s 5ms/step - loss: 0.0054

In [19]:
# 모델을 이용합니

model.predict(독립)

array([[40.101173],
       [42.058144],
       [44.015114],
       [45.972088],
       [47.929058],
       [49.88603 ]], dtype=float32)

In [23]:
# 모델의 예측

model.predict([[15]])

array([[30.316322]], dtype=float32)