<a href="https://colab.research.google.com/github/HydrOpOtesJA99/A.I-learning/blob/main/6_%EB%B3%B4%EC%8A%A4%ED%84%B4_%EC%A7%91%EA%B0%92_%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6_보스턴_집값_예측

- 라이브러리 사용
- 과거의 데이터를 준비
- 모델의 구조를 만든다
- 모델을 이용한다,
- 모델의 수식 확인

*   github csv url:https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv

## 라이브러리 사용

In [3]:
# 라이브러리 사용

import tensorflow as tf
import pandas as pd

## 과거의 데이터를 준비한다

In [5]:
# 1. 과거의 데이터를 준비한다

파일경로 = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
# 로컬 파일을 구글 drive에 업로드하고 URL 대신해서 경로를 넣어주는 방법으로도 파일경로 설정 가능

보스턴 = pd.read_csv(파일경로)
print(보스턴.columns) # 필드명이 출력 됨

보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
# 독립변수, 종속변수 분리

print(보스턴.shape)

독립 = 보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]

종속 = 보스턴[['medv']]

print(독립.shape, 종속.shape)

(506, 14)
(506, 13) (506, 1)

## 모델의 구조를 만든다

In [11]:
# 2. 모델의 구조를 만든다

X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X,Y)
model.compile(loss='mse')

## 데이터로 모델을 학습(FIT)한다

In [23]:
# 3. 데이터로 모델을 학습(FIT)한다
model.fit(독립, 종속, epochs=10) # fit 함수로 학습, 약 14000번 학습 시킨 결과로 loss 값 23.5489

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 23.7275
Epoch 2/10
16/16 [==============================] - 0s 3ms/step - loss: 23.6341
Epoch 3/10
16/16 [==============================] - 0s 3ms/step - loss: 23.7444
Epoch 4/10
16/16 [==============================] - 0s 2ms/step - loss: 23.6585
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 24.0734
Epoch 6/10
16/16 [==============================] - 0s 3ms/step - loss: 23.9904
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 23.8529
Epoch 8/10
16/16 [==============================] - 0s 5ms/step - loss: 23.5681
Epoch 9/10
16/16 [==============================] - 0s 3ms/step - loss: 23.7822
Epoch 10/10
16/16 [==============================] - 0s 2ms/step - loss: 23.5489

## 모델을 이용한다

In [26]:
# 모델을 이용한다.

model.predict(독립[0:5]) # 독립[0:5] (파이썬의 slicing)-> 0부터 5까지의 독립변수들만 model을 이용해 predict

array([[28.914146],
       [23.828997],
       [30.307198],
       [28.904736],
       [28.498817]], dtype=float32)

## 모델의 수식 확인

In [29]:
# 모델의 수식 확인
model.get_weights()

[array([[-0.09412429],
        [ 0.04693861],
        [-0.01887765],
        [ 2.643419  ],
        [-3.1809742 ],
        [ 5.182087  ],
        [-0.01027215],
        [-1.0932364 ],
        [ 0.20849131],
        [-0.01163002],
        [-0.546112  ],
        [ 0.01194695],
        [-0.46670517]], dtype=float32), array([10.065633], dtype=float32)]